// footer styles

#footer {

    // variables
    $footer-height: 50px;

    // styles
    color: $ops-gray-light;
    font-size: 12px;
    background: $ops-black;

    // layout structure
    .footer-inner {
        @include make-row();
    }
    .footer-copyright {
        @include make-sm-column(12);
        @include make-md-column(6);
        margin: 0;
    }
    .footer-menu {
        @include make-sm-column(12);
        @include make-md-column(6);
    }

    // link styles
    a {
        color: $ops-gray-light;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $ops-gray;
        }
    }
    p {
        margin-bottom: 0;
    }
    .footer-menu {
        text-align: right;
        @extend %inline-list;

        a {
            font-weight: $ops-font-bold;
        }
    }
    .footer-menu,
    .footer-copyright {

        // tablets landscape above
        @media (min-width: $screen-md-min) {
            line-height: $footer-height;
        }
        // tablets portrait below
        @media (max-width: $screen-sm-max) {
            text-align: left;
            margin: $ops-spacing-xs 0;
        }
    }
}
