#home {

    // variables
    $circular-size: 400px;

    // styles
    @include background-size(cover);
    position: relative;
    min-height: $ops-spacing-xlg + $circular-size;
    background: $ops-brand;

    .home-player {
        

        // styles
        padding-top: $ops-spacing-xlg;
        color: $ops-white;
        text-align: center;
        position: relative;
        z-index: 99;

        // circular player
        &::before {
            @include border-radius(50%);
            content: "";
            display: block;
            position: absolute;
            top: $ops-spacing-xlg;
            left: 50%;
            width: $circular-size;
            height: $circular-size;
            background: rgba($ops-gray-dark, 0.2);
            margin-left: - ($circular-size / 2);
            z-index: 0;
        }
        a:before {
            font-size: 60px;
        }
        i {
            color: $ops-white;
        }
    }

    .home-player-content {
        position: relative;
        z-index: 9;

        i:before { 
            font-size: 40px;
        }
    }
} 