block content
    header#header-welcome
        div.container
            div.header-welcome-inner
                div.header-welcome-logo
                    h1 conten in here
                div.header-welcome-info
                    a.btn.btn-smg-info lorem ipsum amet