// Header Styles

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: $ops-spacing-lg;
    width: 100%;
    z-index: 999;

    .header-inner {
        position: relative;
        @include make-row();

        .header-logo {
            @include make-sm-column(4);
            //@include make-xs-column(12);
        }
        .header-menu {
            @include make-sm-column(8);
           // @include make-xs-column(12);
        }
    }
}

.header {
    background: rgba($ops-gray-dark, 1);
    height: $ops-spacing-lg;

    .header-logo {
        h1 {
            line-height: $ops-spacing-lg;
            padding: 0;
            margin: 0;
            font-size: 20px;
        }
        a {
            font-weight: $ops-font-normal;
            text-transform: uppercase;
            color: $ops-brand;
        }
    }

    .header-menu {
        text-align: right;

        ul {

        }
        li {
            display: inline-block;
        }
        a {
            display: block;
            line-height: $ops-spacing-lg;
            padding: 0 $ops-spacing-xs;
            color: $ops-white;
        }
    }
}

