// Header Styles

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: $ops-spacing-lg;
    width: 100%;
    z-index: 999;
    background: $color-brand;

    .header-inner {
        position: relative;
        padding: 20px 0;
        @include make-row();

        .header-logo {
            @include make-xs-column(12);
            @include make-sm-column(6);
        }
        .header-menu {
            @include make-xs-column(12);
            @include make-sm-column(6);
        }
    }
}

.header-logo {
    h1 {
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 1.2;
    }
    a {
        font-weight: $ops-font-normal;
        text-transform: uppercase;
        color: $color-white;
        padding: 5px 10px;
    }
}

.header-menu {
    text-align: right;

    ul {

    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 0 $ops-spacing-xs;
        color: $ops-white;
    }
}

/* header player */

// variables
$size: 75px;

.header-player {
    background: $color-active;
}
.header-player-controls {
    text-align: center;
    display: block;

    li {
        display: inline-block;
    }
    i:before {
        font-size: 45px;
        line-height: 1;
        margin: 0;
    }
    .is-btn {
        color: $color-white;
    }
    .is-playPause {
        color: $color-secondary;

        &:before {
            font-size: 60px;
            line-height: $size;
        }
    }
    .has-circle {
        width: 75px;
        height: 30px;
        position: relative;
    }
    .is-circle {
        
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $size;
        height: $size;
        margin-left: -$size/2;
        margin-top: -$size/2;
        background: $color-active;
    }
}
.header-player-info {
    background: $color-brand;
    text-align: center;
}
