// Main Styles

.home {
    // main home styles
    position: relative;
    width: 100%;
} 
.home-player-wrapper {
    position: relative;
    padding-top: 200px;
    width: 100%;

    // mobile above / 480px above
    @media (min-width: $screen-xs-min) {
        padding-top: 300px;
    }
}
.home-player {
    color: $ops-white;
    background: rgba($ops-black, 0.8);
}
.home-player-waveform {
    position: relative;
    height: 80px;

    .current-time {
        background: $ops-brand;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
    }
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height:100%;
        -webkit-filter:contrast(200%);
        filter:contrast(200%);
        z-index: 999;
    }
}
.home-player-progress {
    background: $ops-brand;
    text-align: center;
    padding: $ops-spacing-xs 0;

    p {
        margin-bottom: 0;
        top: 10px;
        color: $ops-black;
    }
}
.home-player-controls {
    text-align: center;
    width: 100%;

    h3 {
        text-transform: uppercase;
        font-weight: $ops-font-light;
        font-size: 30px;
    }
    ul {
        display: block;
        margin: 0 auto;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        color: $ops-white;
    }
    i:before { // icons
        font-size: 45px;
    }
    .is-btn {
        position: relative;
        top: -12px;
    }
    .is-playPause {
        &:before { // icons
            font-size: 80px;
        }
    }
}
.home-playlist {
    background: $ops-black;
    padding: ($ops-spacing-sm + $ops-spacing) 0;

    li {
        display: block;
        cursor: pointer;
        text-align: center;
    }
    .is-song-in-playlist {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 0;
        background: $ops-brand;
        text-transform: uppercase;
        font-weight: $ops-font-bold;
    }
    .is-active {
        background: $ops-white;
    }
}
