// Main Styles

.home {
    // main home styles
    position: relative;
    background: url(../images/music-main-player.jpg) no-repeat center top fixed;
    width: 100%;

    // structure
    .home-player-inner {
        @include make-row();
    }
    .home-player-info {
        @include make-md-column(9);
    }
    .home-player-controls {
        @include make-md-column(3);
    }
} 

.home-player-wrapper {
    position: relative;
    padding-top: 300px;
    width: 100%;
}
.home-player {
    color: $ops-white;
    background: rgba($ops-gray-dark, 0.5);
}