
include "head.html"
    <body ng-app="plangular">
        
        <div plangular="http://soundcloud.com/jxnblk/plangular"></div>

        include "header.html"

        <!-- main -->
        <main id="main" role="main" plangular="http://soundcloud.com/jxnblk/sets/yello">
                
                <section id="home">
                    <div class="home-player">
                        
                        <div class="home-player-controls">

                            <div ng-click="playPause(player.playlistIndex)">
                                <a ng-if="player.tracks[player.i] != track || !player.playing">
                                    <i class="flaticon-play33"></i>
                                </a>
                                <a ng-if="player.tracks[player.i] == track && player.playing">
                                    <i class="flaticon-pause11"></i>
                                </a>
                            </div>

                            <div>
                                <a ng-click="previous()"><i class="flaticon-previous5"></i></a>
                                <a ng-click="next()"><i class="flaticon-next8"></i></a>
                            </div>

                            <progress value="{{ currentTime / duration || 0 }}"
                            ng-click="seek($event)">
                            {{ currentTime / duration }}
                          </progress>
                        </div>

                        <div class="home-player-info">
                            <h2>{{ player.currentTrack.user.username || '&nbsp;'}} - {{ player.currentTrack.title || '&nbsp;' }} </h2>
                        </div>
                    </div>
                    
                </section>

                <section id="music-list">
                    <div class="container">
                        <div class="main-inner">
                            <div class="content">
                                <h2>Music List</h2>
                                <div ng-repeat="t in tracks">
                                    <a href="#{{ example.id }}" class="block p1 nav-item"
                                        ng-click="playPause($index)"
                                        ng-class="{ 'bg-darken-1': player.currentTrack == t }">
                                        <p>{{ $index }} - {{ t.user.username }} - {{ t.title }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="music">
                    <div class="container">
                        <div class="main-inner">
                            <div class="content"></div>
                        </div>
                    </div>
                </section>

            
        </main>
        <!-- / main -->

include "footer.html"