
include "head.html"
    <body ng-app="plangular">
        
        <div plangular="http://soundcloud.com/jxnblk/plangular"></div>

        include "header.html"

        <!-- main -->
        <main id="main" role="main" plangular="http://soundcloud.com/jxnblk/sets/yello">
                
                <section id="home">

                    <!-- Home player -->
                    <div class="home-player">

                        <div class="container">

                            <!-- Home player inner -->
                            <div class="home-player-inner">

                                <!-- Home player info -->
                                <div class="home-player-info">
                                    <h3>{{ player.currentTrack.user.username || '&nbsp;'}} - {{ player.currentTrack.title || '&nbsp;' }} </h3>
                                </div>
                                <!-- / Home player info -->
                                
                                <!-- Home player controls -->
                                <div class="home-player-controls">

                                    <ul>
                                        <li>
                                            <a ng-click="previous()"><i class="flaticon-previous5"></i></a>
                                        </li>

                                        <li ng-click="playPause(player.playlistIndex)">
                                            <a ng-if="player.tracks[player.i] != track || !player.playing">
                                                <i class="flaticon-play33"></i>
                                            </a>

                                            <a ng-if="player.tracks[player.i] == track && player.playing">
                                                <i class="flaticon-pause11"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a ng-click="next()"><i class="flaticon-next8"></i></a>
                                        </li>

                                    </ul>
                                </div>
                                <!-- / Home player controls -->

                            <!-- Home player inner -->
                            <div class="home-player-inner">

                        </div>
                        <!-- / Container -->
                   
                    </div>
                    <!-- / Home player -->
                    
                </section>

                <section id="music-list">
                    <div class="container">
                        <div class="main-inner">
                            <div class="content">
                                <h2>Music List</h2>
                                <div ng-repeat="t in tracks">
                                    <a href="#{{ example.id }}" class="block p1 nav-item"
                                        ng-click="playPause($index)"
                                        ng-class="{ 'bg-darken-1': player.currentTrack == t }">
                                        <p>{{ $index }} - {{ t.user.username }} - {{ t.title }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="music">
                    <div class="container">
                        <div class="main-inner">
                            <div class="content"></div>
                        </div>
                    </div>
                </section>

            
        </main>
        <!-- / main -->

include "footer.html"