// smg global variables

$ops-spacing: 40px;                          // base spacing
$ops-spacing-lg: round($ops-spacing * 2);    // 80px
$ops-spacing-sm: round($ops-spacing / 2);    // 20px
$ops-spacing-xs: round($ops-spacing / 4);    // 10px
$ops-spacing-xxs: round($ops-spacing / 8);   // 5px

// typography
$ops-font-stack:  'Helvetica Neue', 'Helvetica', sans-serif;
$ops-font-normal: 200;
$ops-font-semi-bold: 300;
$ops-font-bold:   400;

// main z-indexes
$z-index-header: 10;
$z-index-menus: 100;
$z-index-main: 10;

$ops-bg-width: 10000px;

// colors
$ops-white: #fff;
$ops-black: #000;