<div class="about">

    <header class="main-header">
        <div class="container">
            <h1>Yellow! There"</h1>
        </div>
    </header>

    <article>
        <div class="container">

        <p>As a Soundcloud lover, I allways wanted to create a single page with custom players. 
There are now many great resources in order do achieve that. After some research I found Pangular, an AngularJS Plugin that allows to create custom *Soundcloud* players in an easy way.
With some html and CSS/SASS the result was an one page site.</p>
        </div>

    </article>
</div>
