<!-- Home -->
<div class="home">
  <div class="home-player">
    <div class="container">
      <!-- Home player inner -->
      <div class="home-player-inner">
        <!-- Home player info -->
        <div class="home-player-info">
            <h3>{{ player.currentTrack.user.username || '&nbsp;'}} - {{ player.currentTrack.title || '&nbsp;' }} </h3>
        </div>
        <!-- / Home player info -->
        <!-- Home player controls -->
        <div class="home-player-controls">
            <ul>
                <li>
                    <a ng-click="previous()"><i class="flaticon-previous5"></i></a>
                </li>
                <li ng-click="playPause(player.playlistIndex)">
                    <a ng-if="player.tracks[player.i] != track || !player.playing">
                        <i class="flaticon-play33"></i>
                    </a>
                    <a ng-if="player.tracks[player.i] == track && player.playing">
                        <i class="flaticon-pause11"></i>
                    </a>
                </li>
                <li>
                    <a ng-click="next()"><i class="flaticon-next8"></i></a>
                </li>
            </ul>
        </div>
        <!-- / Home player controls -->
       </div>
      <!-- / Home player-inner -->
    </div>
  </div>
  <!-- home-player -->
</div>
