<!-- Home -->
<div class="home">

  <div class="home-playlist">
    <div class="container">
      <article>
        <h2>One Page Soundcloud</h2>
        <h3>Single page web app</h3>
      </article>

      <ul>
        <li ng-repeat="track in tracks">
          <div class="home-playlist-item" ng-class="{'is-active': player.playing === track.src }" ng-click="playPause($index)">
            
            <span>
              {{track.user.username}} - {{track.title}}
            </span>
            
            <span>
              {{ track.duration / 1000 | hhmmss }}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
