<!-- Home -->
<div class="home">
  <div class="home-player-wrapper">

    <div class="home-player">

      <div class="home-player-progress">
        <div class="container">  
          <progress ng-value="currentTime / duration || 0">
            {{ currentTime / duration || 0 }}
          </progress>

          <p>{{playlist.user.username}} - {{track.title}} </p>
        </div>
      </div>

        <!-- Home player controls -->
        <div class="home-player-controls">
          <div class="container">

              <ul>
                  <li>
                      <a ng-click="previous()"><i class="flaticon-rewind45"></i></a>
                  </li>
                  <li ng-click="playPause(index)">
                      <a ng-if="player.playing !== track.src">
                          <i class="flaticon-play105 is-playPause"></i>
                      </a>
                      <a ng-if="player.playing === track.src">
                          <i class="flaticon-pause44 is-playPause"></i>
                      </a>
                  </li>
                  <li>
                      <a ng-click="next()"><i class="flaticon-fast46"></i></a>
                  </li>
              </ul>
            </div>
            <!-- .container -->
        </div>
        <!-- / Home player controls -->
      
    </div>
    <!-- home-player -->
  </div>
  <!-- home-player-wrapper -->

  <div class="home-playlist">
    <div class="container">  
      <ul>
        <li ng-repeat="track in tracks">
          <div class="is-song-in-playlist" ng-class="{'is-active': player.playing === track.src }" ng-click="playPause($index)">
            
            <span>
              {{track.user.username}} - {{track.title}}
            </span>
            
            <span>
              {{ track.duration / 1000 | hhmmss }}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
