
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>One Page Soundcloud</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css -->
        <link rel="stylesheet" href="../assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-app="plangular">
        
        <div plangular="http://soundcloud.com/jxnblk/plangular"></div>

            <body>
                
                <!-- header -->
                <header id="header">
                    <div class="container">
                        <nav class="header-inner" role="navigation">
                            
                            <h1 class="header-logo"><a href="index.html">One Page Soundcloud</a></h1>

                            <ul class="header-menu">
                                <li>
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#about">About</a>
                                </li>
                                <li>
                                    <a href="#music">Music</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <!-- / header -->

        <!-- main -->
        <main id="main" role="main" plangular="http://soundcloud.com/jxnblk/sets/yello">
                
                <section id="home">
                    <div class="home-player">
                        
                        <div class="home-player-content">
                            <div>
                                <p>{{ user.username }}</p>
                                <h1>{{ title }}</h1>
                                <!-- or in the track object -->
                                <p>{{ track.user.username }}</p>
                                <h1>{{ track.title }}</h1>
                            </div>

                            <div ng-click="playPause(player.playlistIndex)">
                                <a ng-if="player.tracks[player.i] != track || !player.playing">
                                    <i class="flaticon-play33"></i>
                                </a>
                                <a ng-if="player.tracks[player.i] == track && player.playing">
                                    <i class="flaticon-pause11"></i>
                                </a>
                            </div>

                            <div>
                                <a ng-click="previous()"><i class="flaticon-previous5"></i></a>
                                <a ng-click="next()"><i class="flaticon-next8"></i></a>
                            </div>

                            <img ng-src="{{ track.waveform_url }}" alt="waveform" />

                            <progress value="{{ currentTime / duration || 0 }}"
                            ng-click="seek($event)">
                            {{ currentTime / duration }}
                          </progress>
                        </div>
                    </div>
                    
                </section>

                <section id="music-list">
                    <div class="container">
                        <div class="main-inner">
                            <div class="content">
                                <h2>Music List</h2>
                                <div ng-repeat="t in tracks">
                                    <a href="#{{ example.id }}" class="block p1 nav-item"
                                        ng-click="playPause($index)"
                                        ng-class="{ 'bg-darken-1': player.currentTrack == t }">
                                        <p>{{ $index }} - {{ t.user.username }} - {{ t.title }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="music">
                    <div class="container">
                        <div class="main-inner">
                            <div class="content"></div>
                        </div>
                    </div>
                </section>

            
        </main>
        <!-- / main -->


            <!-- footer -->
            <footer id="footer" role="contentinfo">
                <div class="container">
                    <div class="footer-inner">

                        <div class="footer-copyright">
                            <p>© Copyright - Miuki Miu</p>
                        </div>

                        <nav class="footer-menu">
                            <ul>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </footer>
            <!-- /footer -->
        </div>
        <!-- / canvas slid -->

        <!-- js -->
        <script src="../assets/js/vendor.min.js"></script>
    </body>
</html>